@import "base";
@import "vendors/normalize";
@import "vendors/typography";

@import "fonts/fonts";
@import "fonts/icons";

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  font-family: $base-font-family;
  min-width: $base-min-width;
  color: $base-text-color;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

